/* ?=================================================
 * KEYFRAMES 
? =================================================== */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ?=================================================
 * LOADING  
? =================================================== */

.send svg {
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: none;
}

.send.processing {
  pointer-events: none;
}

.send.processing svg {
  display: inline-block;
}
